<div class="container">
    <h6>Reset Password</h6>
    <nz-spin [nzSpinning]="isLoading">
        <nz-alert *ngIf="alertMsg.message != ''" [nzType]="alertMsg.type" [nzMessage]="alertMsg.message" [nzCloseable]="true"></nz-alert>
        <form nz-form [formGroup]="passwordForm">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="oldPassword">Old Password</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="oldPassword" type="password" id="oldPassword" formControlName="oldPassword">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="newPassword">New Password</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="newPassword" type="password" id="newPassword" formControlName="newPassword">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="confirmPassword">Confirm Password</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="confirmPassword" type="password" id="confirmPassword" formControlName="confirmPassword">
                </nz-form-control>
            </nz-form-item>
        </form>
        <div class="">
            <button class="d-block w-100" nz-button nzType="primary" (click)="resetPassword()">SAVE</button>
        </div>
    </nz-spin>
</div>