@if (false) {
    <mat-toolbar class="shadow-sm">
        Discount Code
    </mat-toolbar>
    <nz-breadcrumb class="m-3" >
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>       
        <nz-breadcrumb-item>Discount Codes</nz-breadcrumb-item>
    </nz-breadcrumb>
    
}

<div class="">    
    <nz-spin [nzSpinning]="isLoading">
        @if (alertMsg.message != '') {
            <nz-alert class="m-2" [nzType]="alertMsg.type" [nzMessage]="alertMsg.message" [nzCloseable]="true"></nz-alert>
          } 
        <form nz-form [formGroup]="discountCodeForm">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="code">Code</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="code" type="text" id="code" formControlName="code">
                </nz-form-control>
            </nz-form-item>            
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="discount">Discount</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-input-number class="w-100" formControlName="percentage" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterPercent" [nzParser]="parserPercent"></nz-input-number>                    
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="isActive">Is Active</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-switch formControlName="isActive" id="isActive"></nz-switch>
                </nz-form-control>
            </nz-form-item>
        </form>
        <div class="d-flex justify-content-center">            
            <button class="m-1" nz-button nzType="default" nzDanger (click)="clickCancel()">CANCEL</button>
            <button class="m-1" nz-button nzType="primary" (click)="clickSave()">SAVE</button>
        </div>
    </nz-spin>
    
</div>