<mat-toolbar>
    <span>Discount Code</span>    
</mat-toolbar>


<nz-drawer
    #drawer
      [nzClosable]="true"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="Discount Code Details"
      (nzOnClose)="close()"
    >
    <ng-container *nzDrawerContent>
        <nz-spin [nzSpinning]="isDrawerLaoding">
             
            <form nz-form [formGroup]="discountCodeForm">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="code">Code</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="code" type="text" id="code" formControlName="code">
                    </nz-form-control>
                </nz-form-item>            
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="discount">Discount</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <nz-input-number class="w-100" formControlName="percentage" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterPercent" [nzParser]="parserPercent"></nz-input-number>                    
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="isActive">Is Active</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <nz-switch formControlName="isActive" id="isActive"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </form>
            <div class="d-flex justify-content-center">            
                <button class="m-1" nz-button nzType="default" nzDanger (click)="clickCancel()">CANCEL</button>
                <button class="m-1" nz-button nzType="primary" (click)="clickSave()">SAVE</button>
            </div>
        </nz-spin>
    </ng-container>
      
    </nz-drawer>
<div class="container-fluid">
    
    @if (true) {
        <div class="d-flex justify-content-between p-2">
            <div>
                <nz-breadcrumb class="">
                    <nz-breadcrumb-item>Home</nz-breadcrumb-item>       
                    <nz-breadcrumb-item>Discount Codes</nz-breadcrumb-item>
                </nz-breadcrumb>
            </div>
            <div></div>
            <div>
                <button  (click)="open()"  routerLinkActive="router-link-active"  nz-button nzType="default"><span nz-icon nzType="plus"></span>NEW</button>       
            </div>
        </div>
    }
       
    
    <nz-spin [nzSpinning]="isLoading">
        <ag-grid-angular 
        [rowData]="data" 
        [columnDefs]="colDefs"
        class="ag-theme-quartz"
        style="height: 500px;"
        [pagination]="true"
        [paginationAutoPageSize]="true"
        [paginationPageSizeSelector]="false"        
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        ></ag-grid-angular>        
    </nz-spin>
    
</div>