<mat-toolbar>
    <span>Send SMS</span>
</mat-toolbar>
<nz-breadcrumb class="p-2">
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Send SMS</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="container">
    <nz-spin [nzSpinning]="isLoading">
    <mat-stepper #stepper>
        <mat-step title="EDIT TEXT">
            <ng-template matStepLabel>EDIT TEXT</ng-template>
            <div class="row">
                <h6 class="text-center">EDIT SMS</h6>
                <div class="col-3"></div>
                <div class="col-6">
                    <textarea rows="10" nz-input [(ngModel)]="inputValue"></textarea> 
                    <div class="d-flex justify-content-center">
                        <button nz-button nzType="primary" class="w-50 mt-2" (click)="clickNext()">SEND</button>
                    </div>
                    
                </div>
                <div class="col-3"></div>
            </div>
        </mat-step>        
        <mat-step>
            <ng-template matStepLabel>SUMMARY</ng-template>
            @if (isDelivered) {
                <nz-result       

                nzStatus="success"            
                nzTitle="SMS Sent Successfully"
                nzSubTitle="SMS has been sent successfully to all the customers"
              >
                <div nz-result-extra>
                  <button nz-button nzType="primary" (click)="viewHistory()">View History</button>
                  <button nz-button (click)="sendAgain()">Send Again</button>
                </div>
              </nz-result>
            }
            @else{
                <nz-result       

                nzStatus="error"            
                nzTitle="SMS Sent Failed"
                nzSubTitle="SMS has been failed to send to all the customers. Please try again."
              >
                <div nz-result-extra>
                  <button nz-button nzType="primary" (click)="viewHistory()">View History</button>
                  <button nz-button (click)="sendAgain()">Send Again</button>
                </div>
              </nz-result>
            }
            
        </mat-step>
    </mat-stepper>
    </nz-spin>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Confirmation" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <p>Do you want to send the SMS to all your customer ?</p>      
    </ng-container>
</nz-modal>