<mat-toolbar>
    <span>Send SMS</span>
</mat-toolbar>
<nz-breadcrumb class="p-2">
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Send SMS</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="container">
    <mat-stepper #stepper>
        <mat-step title="EDIT TEXT">
            <ng-template matStepLabel>EDIT TEXT</ng-template>
            <div class="row">
                <h6 class="text-center">EDIT SMS</h6>
                <div class="col-3"></div>
                <div class="col-6">
                    <textarea rows="10" nz-input [(ngModel)]="inputValue"></textarea> 
                    <div class="d-flex justify-content-center">
                        <button nz-button nzType="primary" class="w-50 mt-2" (click)="clickNext()">NEXT</button>
                    </div>
                    
                </div>
                <div class="col-3"></div>
            </div>
        </mat-step>
        <mat-step >
            <ng-template matStepLabel>SELECT CUSTOMER GROUPS</ng-template>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <nz-form-item class="w-100">
                        <nz-form-label>Customer group</nz-form-label>
                        <nz-form-control>
                            <nz-select nzMode="tags" nzSize="large" class="w-50">
                                @for (item of listOfOption; track $index) {
                                    <nz-option [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                                }
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <div class="d-flex justify-content-center">
                        <button nz-button nzType="default" class="w-50 m-2" (click)="clickBack()">BACK</button>
                        <button nz-button nzType="primary" class="w-50 m-2" (click)="clickNext()">NEXT</button>
                    </div>
                </div>
                <div class="col-6"></div>
            </div>
            
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>SUMMARY</ng-template>
            <nz-result
            nzStatus="success"
            nzTitle="SMS Delivery Success"
            nzSubTitle="Order number: 2017182818828182881 Cloud server configuration takes 1-5 minutes, please wait."
          >
            <div nz-result-extra>
              <button nz-button nzType="primary">Go Console</button>
              <button nz-button>Buy Again</button>
            </div>
          </nz-result>
        </mat-step>
    </mat-stepper>
</div>