<mat-sidenav-container class="h-100">
  <mat-sidenav mode="side" #sidemenu [opened]="(auth.isAuthenticated | async) || userLogin" class="side-menu">
    <nz-list *ngIf="(auth.isAuthenticated | async) || userLogin">
      <div class="p-3">
        <h5 class="title">Service Provider</h5>
      </div>            
      <nz-list-item [routerLink]="['/vehicle-intake', 0]">
        Vehicle Intake
      </nz-list-item>
      <nz-list-item [routerLink]="['/vehicle-queue']" (click)="selectMenuItem('queue')">Queue</nz-list-item>
      <nz-list-item [routerLink]="['/vehicle-history-search']" >Vehicle History</nz-list-item>
      <nz-list-item [routerLink]="['/sms-marketing']" >SMS Marketing</nz-list-item>
      <nz-list-item [routerLink]="['/customer']" >Customer</nz-list-item>      
      
      <nz-list-item [routerLink]="['/service-type']" >Service Type</nz-list-item>
      <nz-list-item [routerLink]="['/discount-codes']" >Discount Code</nz-list-item>
      <nz-list-item [routerLink]="['/myprofile']" >My Profile</nz-list-item>
      <nz-list-item (click)="logout(sidemenu)">Logout</nz-list-item>
    </nz-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>