<mat-sidenav-container class="h-100">
  <mat-sidenav mode="over" #sidemenu>
    <nz-list nzBordered *ngIf="(auth.isAuthenticated | async) || userLogin">
      <nz-list-item>Home</nz-list-item>
      <nz-list-item [routerLink]="['/vehicle-intake', 0]" (click)="sidemenu.toggle()">Vehicle Intake</nz-list-item>
      <nz-list-item [routerLink]="['/vehicle-queue']" (click)="sidemenu.toggle()">Queue</nz-list-item>
      <nz-list-item [routerLink]="['/vehicle-history-search']" (click)="sidemenu.toggle()">Vehicle History</nz-list-item>
      <nz-list-item [routerLink]="['/service-type']" (click)="sidemenu.toggle()">Service Type</nz-list-item>
      <nz-list-item [routerLink]="['/discount-codes']" (click)="sidemenu.toggle()">Discount Code</nz-list-item>
      
      <nz-list-item (click)="logout(sidemenu)">Logout</nz-list-item>
    </nz-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="sticky-top">
      <button mat-icon-button (click)="sidemenu.toggle()" *ngIf="(auth.isAuthenticated | async) || userLogin">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Service Provider</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>