<div class="container">
    <h6 class="text-center m-2">Queue</h6>
    <div class="center-div">
        <nz-date-picker class="text-center" [(ngModel)]="selectedDate" (ngModelChange)="onDateChange($event)"></nz-date-picker>
    </div>    
    <div class="mt-2">    
        <nz-list nzBordered>
        <nz-list-header>Vehicles</nz-list-header>
        <div class="scrollable-div" >
            @for (item of data; track $index) {
                <nz-ribbon [nzText]="item.status" [nzColor]="getColorByStatus(item.status)">
                    <nz-list-item [routerLink]="['/update-vehicle-status', item.id]" routerLinkActive="router-link-active"  >
                        <nz-list-item-meta [nzDescription]="item.numberPlate">
                        <nz-list-item-meta-title>{{item.customerName}}</nz-list-item-meta-title>
                        </nz-list-item-meta>                    
                    </nz-list-item>                
                </nz-ribbon>                
            } 
        </div>     
        
        <div class="list-items">
                   
        </div>   
        
        <nz-list-footer>Total : {{totalRecords}}</nz-list-footer>
        </nz-list>
        <!--
        <mat-list>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>directions_car</mat-icon>
                <div matListItemTitle>Vamsi Krishna</div>
                <div matListItemLine>8UHP780</div>
            </mat-list-item>
        </mat-list>
        -->
    </div>
</div>