<div class="container">
    <h6 class="text-center m-2">Vehicle Intake</h6>
    <nz-spin [nzSpinning]="isLoading">
      @if (alertMsg != undefined && alertMsg.message != '') {
        <nz-alert [nzType]="alertMsg.type" [nzMessage]="alertMsg.message" nzCloseable [(ngModel)]="alertMsg"></nz-alert>
      }      
      <div nz-form class="app-form">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" nzFor="numberplate">Number Plate</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input name="Number Plate" type="text" id="numberplate" [(ngModel)]="numberPlate">
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="customername">Customer Name</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="Customer name" type="text" id="customername" [(ngModel)]="customerName">
            </nz-form-control>
        </nz-form-item >
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="customerphone">Customer Phone</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input name="Customer Phone" type="text" id="customerphone" [(ngModel)]="phone">
            </nz-form-control>
        </nz-form-item >
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="servicetype">Service Type</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select id="servicetype" [(ngModel)]="serviceType" >
                  @for (item of serviceTypes; track $index) {
                    @if (item.isActive) {
                      <nz-option [nzValue]="item" [nzLabel]="item.serviceName"  ></nz-option>
                    }
                    
                  }                                        
                </nz-select>              
            </nz-form-control>
        </nz-form-item >
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="vehicletypes">Vehicle Type</nz-form-label>
            <nz-form-control [nzSpan]="14" >
                <nz-select id="vehicletypes" [(ngModel)]="vehicleType">
                    <nz-option nzValue="Sedan" nzLabel="Sedan"></nz-option>
                    <nz-option nzValue="Compact" nzLabel="Compact"></nz-option>
                    <nz-option nzValue="SUV" nzLabel="SUV"></nz-option>
                </nz-select>              
            </nz-form-control>
        </nz-form-item >
        <nz-form-item>
            <nz-form-label [nzSpan]="4" nzFor="Price">Amount</nz-form-label>
            <nz-form-control [nzSpan]="14" >
              <input nz-input name="Amount" type="text" id="price" readonly [(ngModel)]="serviceType.price">
            </nz-form-control>
        </nz-form-item >
        <button nz-button nzType="primary" class="w-100 mt-2" (click)="clickAccept()">ACCEPT</button>
        <button nz-button nzType="default" nzDanger class="w-100 mt-2">CANCEL</button>  
      </div>
    </nz-spin>
        
</div>